// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* Fonts */
@import url('https://fonts.bunny.net/css?family=Nunito');

/* Variables */
@import 'variables';

/* Bootstrap */
@import 'bootstrap/scss/bootstrap';

/* Custom Styles */
.navbar {
    background-color: #292929;
}

.navbar-brand {
    color: #FEFEFE;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #FEFEFE;
}

body {
    background-color: #111111;
    color: #FEFEFE;
}

.admin-buttons {
    margin-top: 30px;
}

.card-footer {
    background-color: #292929;
    color: #FEFEFE;
    // padding: 20px;
}

.btn-primary {
    background-color: #ff4655;
    border-color: #ff4655;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
}

.btn-outline-primary {
    border-color: #ff4655;
    color: #ff4655;
    border-radius: 5px;
    // font-weight: bold;
}

.content-container {
    background-color: #292929;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    margin-top: 40px;
}

.card {
    background-color: #fdfdfd;
    border: 1px solid #333333; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    margin-bottom: 20px;
}


.card-title a {
    color: #ff4655; 
    font-weight: bold;
    text-decoration: none;
}

.card-title a:hover {
    text-decoration: underline;
}

.card-text {
    margin-bottom: 10px;
}

.table {
    background-color: #292929;
    border: 1px solid #ffffff; 
    border-radius: 13px;
}

.table tbody {
    background-color: #292929 !important; /* Use !important to override any other conflicting styles */
}

.table thead th {
    background-color: #292929 !important;
    color: #ffffff;
}

.table td, .table th {
    border-color: #ffffff;
}

.table tbody tr {
    background-color: #292929 !important; /* Use !important to override any other conflicting styles */
    color: #ffffff; /* Set text color to white for table rows */
}

.table tbody tr:hover {
    background-color: #444444; 
}

/* Styling for individual Threads */
.forum-thread {
    background-color: #292929;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FEFEFE;
}

.forum-thread-title {
    color: #ff4655;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.forum-thread-details {
    margin-bottom: 20px;
}

.forum-author, .forum-category, .forum-posted-at {
    margin-right: 20px;
}

.forum-thread-content {
    margin-top: 20px;
    font-size: 18px;
}

.forum-thread-like-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.forum-thread-like-section button {
    margin-right: 10px;
}

.like-count {
    font-weight: bold;
    font-size: 18px;
    margin-right: 7px;
}

/* Styling for drowpdown menus */
select#category,
select#rank {
    background-color: #292929;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}


select#category option,
select#rank option {
    background-color: #292929;
    color: #ffffff;
    padding: 5px;
}

/* Filter button */
button.btn-success {
    background-color: #ff4655;
    border-color: #ff4655;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
}

button.btn-success:hover,
button.btn-success:focus {
    background-color: #ff2e3e;
    border-color: #ff2e3e;
}

.create-card {
    background-color: #292929;
    color: #FEFEFE;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #292929;
    color: #ffffff;
    font-weight: bold;
}

.form-control {
    background-color: #292929;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #ff4655;
}

/* Hover and focus styles for the Create Thread button */
.btn-primary:hover,
.btn-primary:focus {
    background-color: #ff2e3e;
    border-color: #ff2e3e;
}

input::placeholder {
    color: #FFFFFF !important;
}

/* Input field styles when focused */
input.form-control:focus {
    background-color: #292929; /* Change the background color when focused */
    color: #FEFEFE; /* Change the text color when focused */
    border-color: #292929; /* Change the border color when focused */
}

